body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3a495f;
    font-family:  sans-serif;
}

.chat-container {
    width: 90%;
    max-width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 50px;
}

.chat-header {
    display: flex;
    align-items:center;
    padding: 10px 20px;
    background-color: #244778;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
.status{
    font-size: 11px;
    color: #00ff08;
}

.online {
    background-color: #00ff08;
}

#chat-output {
    flex: 1;
    padding: 10px 20px;
    overflow-y: auto;
    background: #ebe8e8;
}

.message {
    max-width: 70%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
    margin-right: 10px;
}

.input-area {
    display: flex;
    padding: 10px 20px;
    background-color: #0c2954;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#user-input {
    width: 100%;
    border: 2px solid #eff2f5;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    margin-right: 10px;
    background-color: #d9dce0;
}
.input-area button {
    border: none;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.input-area button:hover {
background-color: #234674;
}


.typing-indicator {
    color: #aaa;
    font-style: italic;
}

.message {
    padding: 10px;
    border-radius: 10px;
    margin: 5px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInUp 0.5s ;
}

.user-message {
    background-color: #b1df8e; 
    margin-left: auto; 
}

.bot-message {
    background-color: #dddddd; 
    margin-right: auto;
}

.message-text {
    max-width: 80%;
    font-size: 10px; 
}

.timestamp {
    font-size: 5px;
    color: #000000;
    margin-left: 10px;
    margin-top: 20px;
}

@keyframes fadeInUp {
    from {
      transform: translateY(20px);
}
    to {
      transform: translateY(0px);
}
  }
  
